body {
  padding: 10px;
}

h1{
  background-color: black;
  color: white;
  text-align: center;
}

.icon-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: clamp(400px, 80vw, 1200px);
  margin: auto;
  justify-content: center;
}

#classDiv {
  border: 1px solid black;
  width: 200px;
  display: grid;
  justify-items: center;
  padding: 30px;
  margin: 1rem;
  color: white;
  background-color: rgb(2, 56, 2);
}

.return{
  color: white;
}

.details{
  text-decoration: none;
}
